<div class="row row-adjust row-style d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-4">
        <!-- Welcome user and display user's name -->
        <h2 class="dashboard-heading">
            Welcome back, {{name}}!
        </h2>
    </div>

    <div class="col-12 col-lg-8">
        <ul id="dashboard-link-list">
            <a href="/newJob" class="dashboard-link-style">
                <li class="dashboard-individual-links">
                    Post new job
                </li>
            </a>
            <a href="#my-posted-jobs" class="dashboard-link-style" id="avail-jobs">
                <li class="dashboard-individual-links" >
                    View my posted jobs
                </li>
            </a>
            <a href="/jobs" class="dashboard-link-style">
                <li class="dashboard-individual-links">
                    View all available jobs
                </li>
            </a>
        </ul>
    </div>
</div>

<div class="row row-adjust row-style d-flex justify-content-center align-items-center">
    <div class="col-12 form-center">
        <h2 class="dashboard-heading" id="search-jobs">
            Search Jobs
        </h2>
        <form class="form-styling">
            <div class="mb-3">
                <textarea class="form-control form-heading" id="job-search" rows="1" placeholder="Keyword"></textarea>
            </div>
            <button type="submit" class="btn btn-style" id="search-job">Search</button>
        </form>
    </div>
</div>

<div class="row row-adjust d-flex justify-content-center align-items-center" id="jobs-messages-margin">
    <div class="col-12 jobs-column-style">
        <h2 class="dashboard-heading" id="my-posted-jobs">
            My posted jobs
        </h2>

        <div class="row row-adjust row-style d-flex justify-content-center align-items-center text-center">
            {{#if jobs.length}}
            <!-- If there are jobs, list them out individually in their own cards -->
            {{#each jobs as |job|}}
            <div class="col-12 col-lg-5 my-job-card">
                <h3 class="my-job-card-heading">
                    {{job.name}}
                </h3>
                <p>
                    {{job.time_value}} minutes
                </p>
                <a href="/jobs/{{job.id}}">
                    <button type="button" class="btn btn-style">More info</button>
                </a>
                <button type="button" class="btn btn-style delete-btn" data-id="{{job.id}}">Delete</button>
                <p><span id="delete-failed"></span></p>
            </div>
            {{/each}}
            {{else}}
            <!-- If user haven't posted any jobs, show this message -->
                <p class="my-job-card-heading">
                You haven't posted a job yet!
            </p>
            <a href="/newJob">
                <button type="button" class="btn btn-style">Post a job</button>
            </a>
            {{/if}}
        </div>
    </div>
</div>

<script src="/js/deleteJob.js"></script>