<div class="row row-adjust row-style row-border d-flex justify-content-center align-items-center">
    <div class="col-12">
        <div class="row row-adjust">
            <div class="col-12 text-center">
                <h2 class="dashboard-heading">
                    {{job.name}}
                </h2>
                <p>{{job.user.name}}</p>
            </div>
        </div>
        <div class="row row-adjust text-center">
            <div class="col-12 col-lg-6">
                <p class="job-details">
                    <i class="bi bi-stopwatch-fill icon-color"></i> {{job.time_value}} minutes
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <p class="job-details">
                    <i class="bi bi-geo-alt-fill icon-color"></i> {{job.location}}
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12">
                <p>
                    {{job.description}}
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12 text-center">
                <p>
                    <span id="skill-swap">Skill swap:</span> skill here
                </p>
            </div>
        </div>

        <div class="row row-adjust">
            <div class="col-12 col-lg-6 text-center">
                <button type="button" class="btn btn-style accept-job">Accept job</button>
            </div>

            <div class="col-12 col-lg-6 text-center">
                <a href="mailto:{{job.user.email}}">
                    <button type="button" class="btn btn-style accept-job">Contact user</button>
                </a>
            </div>
        </div>
    </div>
</div>